<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="https://www.linkedin.com/in/arshad-aboo-3158a7104/" target="_blank">
      <span class="icon icon-linkedin"></span>
      LinkedIn profile</a>
  </div>
</div>
<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="mailto:arshad.e_mail@yahoo.com">
      <span class="icon icon-email"></span>
      <span style="unicode-bidi:bidi-override; direction: ltr;">
						Contact via email</span>
    </a>
  </div>
</div>
